.map-header {
    position: absolute;
    top: 25px;
    left: 0%;
    transform: translateX(-5%);
    background-color: rgba(255, 255, 255);
    padding: 0px 90px;
    padding-right: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    z-index: 100;
    font-family: 'Futura', sans-serif;
}

.map-header h1 {
    font-size:5.5vh;
    margin-top: 13px;
    margin-bottom: 10px;
}

.map-header p {
    margin-top: 0;
    margin-bottom: 20px;
}

.header-image {
    position: absolute;
    height: auto;
    border-radius: 4px;
    top: -15px;
    right: 39%;
    width: 100px;
    height: auto;
    box-shadow: 0 0000;
}
